#nav{
    @media screen and (max-width: 821px) {
        .container {

            .navigation {
                display: flex;

                span {
                    &:nth-child(1) {
                        display: none;
                    }

                    a{
                        font-size: 34px;
                    }

                    i{
                        font-size: 34px;
                    }

                }

                .second{
                    display: none;
                }
            }


        }

    }

}


#car_detail {
    height: 1000px;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;


        .slider-container {
            display: flex;
            justify-content: center;
            align-items: center;


            .slider {
                position: relative;

                .slider-button {
                    border: none;
                    background: none;
                    cursor: pointer;

                }

                .base_image {
                    width: 680px;
                    height: 510px;
                }

                .prev {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }


                .next {
                    position: absolute;
                    top: 50%;
                    right: 26%;
                    transform: translate(-50%, -50%);
                }

                #sliderImage {
                    width: 100%;
                    height: auto;
                }

                .additional-images {
                    display: grid;
                    grid-template-columns: repeat(6, 150px);
                    gap: 20px;
                }

                .additional-images img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }






        .car_div {
            display: flex;
            justify-content: center;

            .car {
                width: 600px;
                height: 239px;
                flex-shrink: 0;

                .title_h4 {
                    margin: 20px;

                    h4 {

                        color: var(--Yellow, #FDCE00);

                        font-family: Bebas Neue;
                        font-size: 45px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 45px;
                        letter-spacing: -0.225px;


                    }
                }



                .title_text {
                    margin: 20px;

                    p {
                        color: #FFF;
                        font-family: Poppins;
                        width: 470px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;

                    }
                }

                .title_price {
                    margin: 20px;

                    p {

                        color: #FFF;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: -0.12px;
                    }
                }

                .about_car {
                    display: flex;
                    gap: 120px;
                    ul {
                        color: white;
                        list-style: none;

                        li {
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 391px){
        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 50px;
    
    
            .slider-container {
                position: relative;
                top: -100%;
                left: -28px;
                .slider {
                    position: relative;
    
                    .base_image {
                        width: 598px;
                        height: 710px;
                    }
    
                    .prev {
                        position: absolute;
                        top: 30%;
                        transform: translate(-50%, -50%);
                    }
    
    
                    .next {
                        position: absolute;
                        top: 30%;
                        right: -50px;
                        transform: translate(-50%, -50%);
                    }
    
               
                    .additional-images {
                        display: none;
                    }
    
               
                }
            }
    
    
    
    
    
    
            .car_div {
                margin-top: 500px;
                display: flex;
                justify-content: center;
    
              
            }
        }
    }

}