#backimage_title_cars {
    position: relative;

    .backimage {
        height: 338px;
        background-image: url("./../../assets/img/cars.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title {
        position: absolute;
        bottom: -180px;

        p {
            font-family: Poppins;
            font-size: 120px;
            font-style: normal;
            font-weight: 700;
            line-height: 120px;
            letter-spacing: -1.8px;
            text-transform: uppercase;
            color: #FFF;
        }
    }

    @media screen and (max-width: 821px) {
        & {
            .backimage {
                background-image: url("./../../assets/images/cars.png");
                height: 183px;
                background-repeat: no-repeat;
                background-size: cover;

            }

            .title {
                bottom: -111px;
                left: 20px;

                p {
                    font-size: 56px;
                }
            }


        }
    }

    @media screen and (max-width: 391px) {
        & {
            .backimage {
                background-image: url("./../../assets/images/cars.png");
                width: 583px;
                height: 183px;
                background-repeat: no-repeat;
                background-size: cover;

            }
        }


    }
}



#cars {
    padding: 100px;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 126px;
        padding: 45px;

        .car {
            .image {
                width: 315px;

                img {
                    width: 100%;
                }
            }

            .car_title {
                margin-top: 20px;

                p {
                    color: var(--White, #EFEFEF);
                    font-family: Bebas Neue;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    text-transform: uppercase;
                }
            }

            .price {
                margin-top: 20px;

                p {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: -0.12px;
                }
            }

            .car_about {
                margin-top: 20px;

                p {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    width: 270px;
                    height: 77px;
                    flex-shrink: 0;
                }
            }
        }
    }

    @media screen and (max-width: 821px) {
        & {
            padding: 0;

            .container {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                justify-items: center;

                .car {
                    .image {
                        width: 540px;

                        img {
                            width: 100%;
                        }
                    }


                }
            }
        }
    }
    @media screen and (max-width: 391px) {
        & {
            padding: 0;

            .container {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                justify-items: flex-start;


                .car {
                    .image {
                        width: 520px;

                        img {
                            width: 100%;
                        }
                    }


                }
            }
        }
    }
}