@import "./header";
@import "./home";
@import "./about";
@import "./car_detail";
@import "./footer";
@import "./cars";
@import "./product_detail";
@import "./products";
@import "./request";
@import "./service";
@import "./service_detail";
@import "./blog";


a{
    text-decoration: none;
}


*{
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-color: black;
}
.t-yellow{
    color: var(--Yellow, #FDCE00) !important;
}
